<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>客户信息</title>
</head>
<body>
<div style="margin-top: 10px">
    <form class="form-inline" id="serchForm">
        <div class="form-group" style="width: 13%">
            <label for="member" style="width: 30%">会员编号</label>
            <input type="text" style="width: 65%" class="form-control" id="member" name="memberId" placeholder="会员编号"/>
        </div>
        <div class="form-group" style="width: 13%">
            <label for="name" style="width: 30%">姓名</label>
            <input type="text" style="width: 65%" class="form-control" id="name" name="name" placeholder="姓名"/>
        </div>
        <div class="form-group" style="width: 13%">
            <label for="mobile" style="width: 30%">手机号</label>
            <input type="text" style="width: 65%" class="form-control" id="mobile" name="mobile" placeholder="手机号"/>
        </div>
    </form>
    <div id="toolbarForConsumer" class="btn-group" style="padding-top: 20px">
        <button id="btn_select" type="button" class="btn btn-default" onclick="selectBySerchForm();">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询信息
        </button>
        <button id="btn_add" type="button" class="btn btn-default" onclick="openAddDialog();">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增客户
        </button>
        <button id="btn_edit" type="button" class="btn btn-default" onclick="editDialog();">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择修改
        </button>
        <button id="btn_delete" type="button" class="btn btn-default" onclick="deleteConsumer();">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
        </button>
        <button id="btn_clear" type="button" class="btn btn-default" onclick="clearTableInput();">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重置条件
        </button>
    </div>

    <table id="dataTableForConsumer">
    </table>

</div>
</body>
</html>
<!-- JQuery BootStrap插件-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<!-- table插件 表格生成-->
<script src="/static/bootstrap-table/bootstrap-table.js"></script>
<script src="/static/bootstrap-table/bootstrap-table-locale-all.js"></script>
<script src="/static/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.css"/>

<!-- dialog插件 弹出dialog页面-->
<link rel="stylesheet" href="/static/bootstrap-dialog/css/bootstrap-dialog.css"/>
<script src="/static/bootstrap-dialog/js/bootstrap-dialog.js"></script>
<!-- messenger插件   消息提示-->
<script src="/static/messenger/js/messenger.js"></script>
<link rel="stylesheet" href="/static/messenger/css/messenger.css"/>
<link rel="stylesheet" href="/static/messenger/css/messenger-theme-future.css"/>

<!-- bootbox插件 弹出框-->
<script src="/static/bootbox/bootbox.js"></script>

<script type="text/javascript">
    function clearTableInput() {
        $("#serchForm input").val("");
    }
    $._messengerDefaults = {
        extraClasses: 'messenger-fixed messenger-theme-future messenger-on-bottom messenger-on-right'
    };
    /*<![CDATA[*/
    function deleteConsumer(){
        var consumer=$("#dataTableForConsumer").bootstrapTable('getSelections');
        var idArr = new Array();
        var nameArr = new Array();
        $(consumer).each(function(index,item){
            idArr.push(item.id);
            nameArr.push(item.name);
        });
        BootstrapDialog.show({
            type:BootstrapDialog.TYPE_DANGER,
            size:BootstrapDialog.SIZE_SMALL,
            title: '删除客户',
            message:"确定要删除"+nameArr+"的数据吗?",

            buttons: [
                {
                    id: 'btn-1',
                    label: '取消',
                    action: function(dialog) {
                        dialog.close();
                    }
                },
                {
                    id: 'deleteConsumerBtn',
                    label: '删除',
                    action: function(dialog) {
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: "/api/consumer/deleteConsumer",
                            headers:{"token":localStorage.getItem("token")},
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(idArr),
                            //jsonp:'callback',
                            success: function (result) {
                                if(result.rspCode==="200"){
                                    selectBySerchForm();
                                    $.globalMessenger().post({
                                        message: "操作成功",//提示信息
                                        type: 'success',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton:true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                }else {
                                    $.globalMessenger().post({
                                        message: "操作失败",//提示信息
                                        type: 'error',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton:true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                }
                                dialog.close();
                            },
                            error: function () {
                                $.globalMessenger().post({
                                    message: "系统异常",//提示信息
                                    type: 'error',//消息类型。error、info、success
                                    hideAfter: 2,//多长时间消失
                                    showCloseButton:true,//是否显示关闭按钮
                                    hideOnNavigate: true //是否隐藏导航
                                });
                                dialog.close();
                            }
                        });
                    }
                },]
        });

    }

    function editDialog() {
        var getSelections=$("#dataTableForConsumer").bootstrapTable('getSelections');
        if(getSelections.length==0){
            $.globalMessenger().post({
                message: "未选择记录",//提示信息
                type: 'info',//消息类型。error、info、success
                hideAfter: 2,//多长时间消失
                showCloseButton:true,//是否显示关闭按钮
                hideOnNavigate: true //是否隐藏导航
            });
            return;
        }
        if(getSelections.length>1){
            $.globalMessenger().post({
                message: "只能选择一条记录进行修改",//提示信息
                type: 'error',//消息类型。error、info、success
                hideAfter: 2,//多长时间消失
                showCloseButton:true,//是否显示关闭按钮
                hideOnNavigate: true //是否隐藏导航
            });
            return;
        }
        var consumer=getSelections[0];
        var sex='';
        if(consumer.sex=="女"){
            sex=' <li class="list-group-item">性别<input id="man" type="radio" value="男"  name="sex" />男<input id="woman" type="radio" checked="checked" value="女"  name="sex"/>女</li>';
        }else {
            sex=' <li class="list-group-item">性别<input id="man" type="radio" value="男" checked="checked" name="sex" />男<input id="woman" type="radio" value="女"  name="sex"/>女</li>';
        }
        BootstrapDialog.show({
            type:BootstrapDialog.TYPE_WARNING,
            title: '修改客户',
            message: function(dialog) {
                var $content = $(
                    '<form class="form-horizontal" role="form" id="updateConsumerForm" style="text-align: left;vertical-align: middle;>'+
                    '<div class="form-group">' +

                    '<ul class="list-group">'+
                        '<input type="hidden" id="id" name="id" value="'+consumer.id+'">'+
                    ' <li class="list-group-item">姓名<input type="text" class="form-control" id="name" name="name" value="'+consumer.name+'" style="line-height: 30px"/></li>'+
                      sex+
                    //' <li class="list-group-item">性别<input id="man" type="radio" value="男" checked="checked" name="sex" />男<input id="woman" type="radio" value="女"  name="sex"/>女</li>'+

                    ' <li class="list-group-item">身份证号<input type="text" class="form-control" id="idCard" name="idCard" value="'+consumer.idCard+'" style="line-height: 30px"/></li>'+

                    ' <li class="list-group-item">手机号码<input type="text" class="form-control" id="mobile" name="mobile"  value="'+consumer.mobile+'"style="line-height: 30px"/></li>'+

                    ' <li class="list-group-item">固定电话<input type="text" class="form-control" id="telephone" name="telephone" value="'+consumer.telephone+'" style="line-height: 30px"/></li>'+

                    ' <li class="list-group-item">所在地址<input type="text" class="form-control" id="address" name="address" value="'+consumer.address+'" style="line-height: 30px"/></li>'+
                    '</ul>'+
                    '</div>'+

                    '</form>');
                return $content;
            },
            buttons: [
                {
                    id: 'updateConsumerBtn',
                    label: '确认修改',
                    action: function(dialog) {
                        var data=getFormData("updateConsumerForm");
                        $.ajax({
                            async: false,
                            type: "POST",
                            headers:{"token":localStorage.getItem("token")},
                            url: "/api/consumer/updateConsumer",
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(data),
                            //jsonp:'callback',
                            success: function (result) {
                                if(result.rspCode==="200"){
                                    $.globalMessenger().post({
                                        message: "操作成功",//提示信息
                                        type: 'success',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton:true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                    dialog.close();
                                    selectBySerchForm();
                                }else {
                                    $.globalMessenger().post({
                                        message: "操作失败",//提示信息
                                        type: 'error',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton:true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                }
                            },
                            error: function () {
                                $.globalMessenger().post({
                                    message: "系统异常",//提示信息
                                    type: 'error',//消息类型。error、info、success
                                    hideAfter: 2,//多长时间消失
                                    showCloseButton:true,//是否显示关闭按钮
                                    hideOnNavigate: true //是否隐藏导航
                                });
                            }
                        });
                    }
                },{
                    id: 'btn-1',
                    label: '关闭',
                    action: function(dialog) {
                        dialog.close();
                    }
                }]
        });
    }
    function openAddDialog() {
        BootstrapDialog.show({
            type:BootstrapDialog.TYPE_INFO,
            title: '新增客户',
            message: function(dialog) {
                var $content = $(
                    '<form class="form-horizontal" role="form" id="addConsumerForm" style="text-align: left;vertical-align: middle;>'+
                        '<div class="form-group">' +

                    '<ul class="list-group">'+
                        '<input type="hidden" id="createUser"  name="createUser" value="'+localStorage.getItem("userName")+'" />'+
                        ' <li class="list-group-item">姓名<input type="text" class="form-control" id="name" name="name" placeholder="姓名" style="line-height: 30px"/></li>'+

                        ' <li class="list-group-item">性别<input id="man" type="radio" value="男" checked="checked" name="sex" />男<input id="woman" type="radio" value="女"  name="sex"/>女</li>'+

                        ' <li class="list-group-item">身份证号<input type="text" class="form-control" id="idCard" name="idCard"  style="line-height: 30px"/></li>'+

                        ' <li class="list-group-item">手机号码<input type="text" class="form-control" id="mobile" name="mobile"  style="line-height: 30px"/></li>'+

                        ' <li class="list-group-item">固定电话<input type="text" class="form-control" id="telephone" name="telephone"  style="line-height: 30px"/></li>'+

                        ' <li class="list-group-item">所在地址<input type="text" class="form-control" id="address" name="address"  style="line-height: 30px"/></li>'+
                    '</ul>'+
                        '</div>'+

                    '</form>');
                /*var $footerButton = dialog.getButton('btn-1');
                $content.find('button').click({$footerButton: $footerButton}, function(event) {
                    event.data.$footerButton.enable();
                    event.data.$footerButton.stopSpin();
                    dialog.setClosable(true);
                });*/

                return $content;
            },
            buttons: [
                {
                    id: 'addConsumerBtn',
                    label: '新增',
                    action: function(dialog) {
                        var data=getFormData("addConsumerForm");
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: "/api/consumer/addConsumer",
                            headers:{"token":localStorage.getItem("token")},
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(data),
                            //jsonp:'callback',
                            success: function (result) {
                                if(result.rspCode==="200"){
                                    $.globalMessenger().post({
                                        message: "操作成功",//提示信息
                                        type: 'success',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton:true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                    dialog.close();
                                    selectBySerchForm();
                                }else {
                                    $.globalMessenger().post({
                                        message: "操作失败",//提示信息
                                        type: 'error',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton:true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                }
                            },
                            error: function () {
                                $.globalMessenger().post({
                                    message: "系统异常",//提示信息
                                    type: 'error',//消息类型。error、info、success
                                    hideAfter: 2,//多长时间消失
                                    showCloseButton:true,//是否显示关闭按钮
                                    hideOnNavigate: true //是否隐藏导航
                                });
                            }
                        });
                    }
                },{
                id: 'btn-1',
                label: '关闭',
                action: function(dialog) {
                    dialog.close();
                }
            }]
        });

    }
    
    function getFormData(formId) {
        var formData = decodeURIComponent($("#" + formId).serialize());
        formData = formData.replace(/\+/g, " ");//序列化会导致空格变成加号  如  "a a" 序列化后变成 "a+a" ,此处是转化成空格
        formData = formData.replace(/\t/g, "");//去除空格
        var jsonObj = {};
        var param = formData.split("&");
        for (var i = 0; param != null && i < param.length; i++) {
            var para = param[i].split("=");
            jsonObj[para[0]] = para[1];
        }
        //jsonObj=  decodeURIComponent(jsonObj,"utf-8");
        return jsonObj;
    };
    /*]]>*/


    function selectBySerchForm () {
        var data="";
        var obj=getFormData("serchForm");
            $.ajax({
                async: false,
                type: "POST",
                url: "/api/consumer/selectConsumer",
                headers:{"token":localStorage.getItem("token")},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(obj),
                //jsonp:'callback',
                success: function (msg) {
                  data=msg.rows;
                },
                error: function () {
                    alert("错误");
                }
            });
        $('#dataTableForConsumer').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格
        $('#dataTableForConsumer').bootstrapTable({
            height:$(window).height()*0.8,
            toolbar: '#toolbar',
            singleSelect: false,
            clickToSelect: true,
            striped: true,
            //sortName: "id",
            //sortOrder: "desc",
            sidePagination: "client",
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            pageSize: 20,
            pageNumber: 1,
            pageList: "[10, 15, 20, 30]",
            smartDisplay:false,
            showToggle: true,
            showRefresh: true,
            showColumns: true,
            search: true,
            pagination: true,
            data:data,
            columns: [{
                checkbox:true,
            },{
                field: 'id',
                title: '客户id',
                switchable: true,
                sortable: true //排序
            }, {
                field: 'memberId',
                title: '会员编号',
                switchable: true
            }, {
                field: 'name',
                title: '姓名',
                switchable: true
            },{
                field: 'sex',
                title: '性别',
                switchable: true
            }, {
                field: 'idCard',
                title: '身份证号',
                switchable: true
            }, {
                field: 'telephone',
                title: '固定电话',
                switchable: true,
            }, {
                field: 'mobile',
                title: '手机号码',
                switchable: true
            }, {
                field: 'address',
                title: '住址',
                switchable: true
            }, {
                field: 'createTime',
                title: '创建时间',
                switchable: true,
                sortable: true //排序
            }, {
                field: 'lastUpdateTime',
                title: '最后修改时间',
                switchable: true
            }],
        });
    }
    $(function () {
        selectBySerchForm();
    })

  //      url: '/consumer/selectConsumer',    //请求后台的URL（*）
  //      method: 'post',                     //请求方式（*）
  //      toolbar: '#toolbar',                //工具按钮用哪个容器
  //      striped: true,                      //是否显示行间隔色
  //      cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
  //      pagination: true,                   //是否显示分页（*）
  //      sortable: false,                    //是否启用排序
  //      sortOrder: "asc",                   //排序方式
  //      queryParams:{"id":"1"},//传递参数（*）
  //      sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
  //      pageNumber:1,                       //初始化加载第一页，默认第一页
  //      pageSize: 10,                       //每页的记录行数（*）
  //      pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
  //      search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
  //      strictSearch: true,
  //      showColumns: true,                  //是否显示所有的列
  //      showRefresh: true,                  //是否显示刷新按钮
  //      minimumCountColumns: 2,             //最少允许的列数
  //      clickToSelect: true,                //是否启用点击选中行
  //      height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
  //      uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
  //      showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
  //      cardView: false,                    //是否显示详细视图
  //      detailView: false,                  //是否显示父子表


</script>