<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>客户流水</title>
</head>
<body>
<div style="margin-top: 10px">
    <form id="serchFormForConsumerRecord" class="form-inline">
        <div>
            <div class="form-group " style="width: 13%">
                <label for="member" style="width: 30%">会员编号</label>
                <input type="text" style="width: 65%" class="form-control" id="member" name="memberId"
                       placeholder="会员编号"/>
            </div>
            <div class="form-group" style="width: 13%">
                <label for="name" style="width: 30%">姓名</label>
                <input type="text" style="width: 65%" class="form-control" id="name" name="name" placeholder="姓名"/>
            </div>
            <div class="form-group " style="width: 13%">
                <label for="mobile" style="width: 30%">手机号</label>
                <input type="text" style="width: 65%" class="form-control" id="mobile" name="mobile" placeholder="手机号"/>
            </div>
            <div class="form-group " style="width: 13%">
                <label for="beginTime" style="width: 30%">开始时间</label>
                <input type="text" style="width: 65%" class="form-control" id="beginTime" name="beginTime"
                       placeholder="开始时间"/>
            </div>
            <div class="form-group " style="width: 13%">
                <label for="endTime" style="width: 30%">结束时间</label>
                <input type="text" style="width: 65%" class="form-control" id="endTime" name="endTime"
                       placeholder="结束时间"/>
            </div>
        </div>
        <div style="margin-top: 10px">
            <div class="form-group " style="width: 13%">
                <label for="symptom" style="width: 30%">症状</label>
                <input type="text" style="width: 65%" class="form-control" id="symptom" name="symptom"
                       placeholder="症状"/>
            </div>
            <div class="form-group " style="width: 13%">
                <label for="medicine" style="width: 30%">药物</label>
                <input type="text" style="width: 65%" class="form-control" id="medicine" name="medicine"
                       placeholder="药物"/>
            </div>
            <div class="form-group " style="width: 13%">
                <label for="createUser" style="width: 30%">创建人</label>
                <input type="text" style="width: 65%" class="form-control" id="createUser" name="createUser"
                       placeholder="创建人"/>
            </div>
        </div>
    </form>

    <div id="toolbarForConsumerRecord" class="btn-group" style="float: left;margin-top: 10px">
        <button id="btn_select" type="button" class="btn btn-default" onclick="selectConsumerRecordByserchForm();">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询信息
        </button>
        <button id="btn_add" type="button" class="btn btn-default" onclick="openAddDialogForConsumerRecord();">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增记录
        </button>
        <button id="btn_edit" type="button" class="btn btn-default" onclick="editDialogForConsumerRecord();">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择修改
        </button>
        <button id="btn_delete" type="button" class="btn btn-default" onclick="deleteConsumerRecord();">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
        </button>
        <button id="btn_clear" type="button" class="btn btn-default" onclick="clearTableInputForConsumerRecord();">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重置条件
        </button>
    </div>

    <div>
        <table id="dataTableForConsumerRecord">
        </table>
    </div>


</div>
</body>
</html>
<!-- JQuery BootStrap插件-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<!-- table插件 表格生成-->
<script src="/static/bootstrap-table/bootstrap-table.js"></script>
<script src="/static/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.css"/>

<!-- dialog插件 弹出dialog页面-->
<script src="/static/bootstrap-dialog/js/bootstrap-dialog.js"></script>
<link rel="stylesheet" href="/static/bootstrap-dialog/css/bootstrap-dialog.css"/>
<!-- messenger插件   消息提示-->
<script src="/static/messenger/js/messenger.js"></script>
<link rel="stylesheet" href="/static/messenger/css/messenger.css"/>
<link rel="stylesheet" href="/static/messenger/css/messenger-theme-future.css"/>

<!-- bootbox插件 弹出框-->
<script src="/static/bootbox/bootbox.js"></script>

<script type="text/javascript">
    /*<![CDATA[*/
    function clearTableInputForConsumerRecord() {
        $("#serchFormForConsumerRecord input").val("");
    }

    var textLength = 18;

    function bigTextFormatter(value, row, index) {
        if (value != null && value.length > textLength) {
            return '<span class="big-text">' + value.substr(0, textLength) + '...</span> <a class="toggle" href="javascript:void(0)" rel="external nofollow" rel="external nofollow" rel="external nofollow" >查看</a>';
        }
        return value;
    }

    function toggleText(e, value, row, index) {

        /* if (value == null) {
             return false;
         }

         var $tecParam = $(this).prev(".big-text"),
             $toggle = $(this);

         if ($tecParam.text().length > textLength + 5) { //折叠
             $tecParam.text(value.substr(0, textLength) + "...");
             $toggle.text("查看");
         }
         else if (value.length > textLength + 5 && $tecParam.text().length <= textLength + 5) {  //查看
             $tecParam.text(value);
             $toggle.text("折叠");
         }*/


        BootstrapDialog.show({
            title: '详细信息',
            message: function (dialog) {
                var $content = $(
                    '<textarea style="width: 100%;height: 300px">' + value + '</textarea>'
                );
                return $content;
            },
            buttons: [
                {
                    id: 'btn-1',
                    label: '关闭',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
        });
    }

    $(function () {
        selectConsumerRecordByserchForm();
    });

    function selectConsumerRecordByserchForm() {
        var data = "";
        var obj = getFormData("serchFormForConsumerRecord");
        $.ajax({
            async: false,
            type: "POST",
            url: "/api/consumer/selectConsumerRecord",
            headers: {"token": localStorage.getItem("token")},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(obj),
            //jsonp:'callback',
            success: function (msg) {
                data = msg.rows;
            },
            error: function () {
                $.globalMessenger().post({
                    message: "操作失败",//提示信息
                    type: 'error',//消息类型。error、info、success
                    hideAfter: 2,//多长时间消失
                    showCloseButton: true,//是否显示关闭按钮
                    hideOnNavigate: true //是否隐藏导航
                });
            }
        });
        $('#dataTableForConsumerRecord').bootstrapTable('destroy');   //动态加载表格之前，先销毁表格
        $('#dataTableForConsumerRecord').bootstrapTable({
            height:$(window).height()*0.8,
            toolbar: '#toolbar',
            singleSelect: false,
            clickToSelect: true,
            striped: true,
            //sortName: "id",
            //sortOrder: "desc",
            sidePagination: "client",
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            pageSize: 20,
            pageNumber: 1,
            pageList: "[10, 15, 20, 30]",
            smartDisplay: false,
            showToggle: true,
            showRefresh: true,
            showColumns: true,
            search: true, //是否显示搜索框,用户页面内搜索
            pagination: true,
            data: data,
            columns: [{
                checkbox: true
            }, {
                field: 'id',
                title: '客户id',
                switchable: true,
                width: 30,
                sortable: true //排序
            }, {
                field: 'memberId',
                title: '会员编号',
                switchable: true,
                width: 80,
            }, {
                field: 'name',
                title: '姓名',
                switchable: true
            }, {
                field: 'mobile',
                title: '手机号',
                switchable: true
            }, {
                field: 'idCard',
                title: '身份证号',
                switchable: true
            }, {
                field: 'symptom',
                title: '症状',
                switchable: true,
                formatter: bigTextFormatter,
                events: {
                    "click .toggle": toggleText
                }
            }, {
                field: 'medicine',
                title: '药物',
                switchable: true,
                formatter: bigTextFormatter,
                events: {
                    "click .toggle": toggleText
                }

                /* cellStyle: function cellStyle(value, row, index, field) {
                     return {
                         classes: 'text-nowrap another-class',
                         css: {
                             "color": "blue",
                             "font-size": "20px"

                         },
                         style: {
                             "width":"200px",
                             "overflow": "hidden",
                             "white-space": "nowrap",
                             "text-overflow": "ellipsis"
                         }
                     }
                 },*/

            }, {
                field: 'money',
                title: '金额',
                switchable: true
            }, {
                field: 'createTime',
                title: '创建时间',
                switchable: true,
                sortable: true //排序
            }, {
                field: 'createUser',
                title: '创建人',
                switchable: true
            }, {
                field: 'lastUpdateTime',
                title: '最后修改时间',
                switchable: true
            }],
        });
    }

    function openAddDialogForConsumerRecord() {
        BootstrapDialog.show({
            type: BootstrapDialog.TYPE_INFO,
            title: '新增记录',
            message: function (dialog) {
                var $content = $(
                    '<form class="form-horizontal" role="form" id="addConsumerRecordForm" style="text-align: left;vertical-align: middle;>' +
                    '<div class="form-group">' +
                    '<input type="hidden" id="createUser"  name="createUser" value="'+localStorage.getItem("userName")+'" />'+
                    '<ul class="list-group">' +
                    ' <li class="list-group-item">会员编号<input type="text" class="form-control" id="memberId" name="memberId"  style="line-height: 30px"/></li>' +
                    ' <li class="list-group-item">姓名<input type="text" class="form-control" id="name" name="name"  style="line-height: 30px"/></li>' +
                    ' <li class="list-group-item">手机号码<input type="text" class="form-control" id="mobile" name="mobile"  style="line-height: 30px"/></li>' +
                    ' <li class="list-group-item">身份证号<input type="text" class="form-control" id="idCard" name="idCard"  style="line-height: 30px"/></li>' +
                    ' <li class="list-group-item">症状<textarea  class="form-control" id="symptom" name="symptom"  style="line-height: 30px"/></li>' +
                    ' <li class="list-group-item">药物<textarea  class="form-control" id="medicine" name="medicine"  style="line-height: 30px"/></li>' +
                    ' <li class="list-group-item">金额 （单位:元）<input type="text" class="form-control" id="money" name="money" placeholder="精确到分 如:一元 1.00   二元五毛 2.50,  十元五毛三分10.53" style="line-height: 30px"/></li>' +
                    '</ul>'+
                    '</div>'+

                    '</form>');

                return $content;
            },
            buttons: [
                {
                    id: 'addConsumerRecordBtn',
                    label: '新增流水',
                    action: function (dialog) {
                        var data = getFormData("addConsumerRecordForm");
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: "/api/consumer/addConsumerRecord",
                            headers: {"token": localStorage.getItem("token")},
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(data),
                            //jsonp:'callback',
                            success: function (result) {
                                if (result.rspCode === "200") {
                                    $.globalMessenger().post({
                                        message: "操作成功",//提示信息
                                        type: 'success',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton: true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                    dialog.close();
                                    selectBySerchForm();
                                } else {
                                    $.globalMessenger().post({
                                        message: "操作失败",//提示信息
                                        type: 'error',//消息类型。error、info、success
                                        hideAfter: 2,//多长时间消失
                                        showCloseButton: true,//是否显示关闭按钮
                                        hideOnNavigate: true //是否隐藏导航
                                    });
                                }
                            },
                            error: function () {
                                $.globalMessenger().post({
                                    message: "系统异常",//提示信息
                                    type: 'error',//消息类型。error、info、success
                                    hideAfter: 2,//多长时间消失
                                    showCloseButton: true,//是否显示关闭按钮
                                    hideOnNavigate: true //是否隐藏导航
                                });
                            }
                        });
                    }
                }, {
                    id: 'btn-1',
                    label: '关闭',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
        });

    }

    function getFormData(formId) {
        var formData = decodeURIComponent($("#" + formId).serialize());
        formData = formData.replace(/\+/g, " ");//序列化会导致空格变成加号  如  "a a" 序列化后变成 "a+a" ,此处是转化成空格
        formData = formData.replace(/\t/g, "");//去除空格
        var jsonObj = {};
        var param = formData.split("&");
        for (var i = 0; param != null && i < param.length; i++) {
            debugger;
            var para = param[i].split("=");
            jsonObj[para[0]] = para[1];
        }
        //jsonObj=  decodeURIComponent(jsonObj,"utf-8");
        return jsonObj;
    };
    /*]]>*/
</script>
