<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgh.springboot.mapper.ConsumerMapper">
    <select id="selectcConsumer" parameterType="java.util.Map" resultType="com.wgh.springboot.domain.Consumer">
        select * from  consumer_info
        where 1=1 and state=1
            <if test="id != null and id != ''">
                and id =#{id}
            </if>
            <if test="memberId != null and memberId != ''">
                and memberId =#{memberId}
            </if>
            <if test="name != null and name != ''">
                and name =#{name}
            </if>
            <if test="idCard != null and idCard != ''">
                and idCard =#{idCard}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone =#{telephone}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile =#{mobile}
            </if>
            <if test="address != null and address != ''">
                and address =#{address}
            </if>
            <if test="createTime != null and createTime != ''">
                and createTime =#{createTime}
            </if>
    </select>
    <select id="selectMaxMemberId" resultType="int">
        select max(memberId) from consumer_info;
    </select>
    <insert id="insertConsumer" parameterType="com.wgh.springboot.domain.Consumer" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO consumer_info (
        <if test="memberId != null and memberId != ''">
             memberId ,
        </if>
        <if test="name != null and name != ''">
            name,
        </if>
        <if test="sex != null and sex != ''">
            sex,
        </if>
        <if test="idCard != null and idCard != ''">
             idCard ,
        </if>
        <if test="telephone != null and telephone != ''">
            telephone,
        </if>
        <if test="mobile != null and mobile != ''">
            mobile,
        </if>
        <if test="address != null and address != ''">
           address,
        </if> `createTime`, `lastUpdateTime`) VALUES (

        <if test="memberId != null and memberId != ''">
            #{memberId,jdbcType=BIGINT},
        </if>
        <if test="name != null and name != ''">
           #{name,jdbcType=VARCHAR},
        </if>
        <if test="sex != null and sex != ''">
           #{sex,jdbcType=VARCHAR},
        </if>
        <if test="idCard != null and idCard != ''">
            #{idCard,jdbcType=VARCHAR},
        </if>
        <if test="telephone != null and telephone != ''">
            #{telephone,jdbcType=VARCHAR},
        </if>
        <if test="mobile != null and mobile != ''">
            #{mobile,jdbcType=VARCHAR},
        </if>
        <if test="address != null and address != ''">
            #{address,jdbcType=VARCHAR},
        </if>
        now(), NULL);

    </insert>

    <update id="updateConsumer" parameterType="com.wgh.springboot.domain.Consumer">
        UPDATE consumer_info SET
        <if test="name != null and name != ''">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex,jdbcType=VARCHAR},
        </if>
        <if test="idCard != null and idCard != ''">
            idCard = #{idCard,jdbcType=VARCHAR},
        </if>
        <if test="telephone != null and telephone != ''">
            telephone = #{telephone,jdbcType=VARCHAR},
        </if>
        <if test="mobile != null and mobile != ''">
            mobile = #{mobile,jdbcType=VARCHAR},
        </if>
        <if test="address != null and address != ''">
            address = #{address,jdbcType=VARCHAR},
        </if>
        lastUpdateTime=now()
        where id=#{id};
    </update>
    <update id="deleteConsumer" parameterType="java.util.List">
        UPDATE consumer_info SET state=0 where id IN
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>